body{
    text-align: center;
    background-color: rgba(25, 25, 99, 0.356);
    background-image: url(/56927307_2852389374985227_5550537114526941184_n.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}